<!--
<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a junior yeat Student at
      <a class="underline-link" href="https://www.thoughtworks.com/" target="_blank">IIT Hyder</a> 
    </p>

    <p>
      As a software engineer, I find joy in understanding new designs patterns/algorithms and implementing those knowledge in developing solutions.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably <a class="underline-link" href="https://www.strava.com/athletes/35910654" target="_blank">cycling, running</a>, or <a class="underline-link" href="https://www.goodreads.com/user/show/76741261-abhishek-c" target="_blank">reading</a> something new.
    </p>

    <!-- {% include employment-status.html %} 
  </div>
</section>
-->
<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a senior undergrad at 
      <a class="underline-link" href="https://iith.ac.in/" target="_blank">IITH</a> pursuing B.Tech(Hons) in the Departement of Electrical Engineering. 
    </p>
    <p>
      I am drawn to VLSI, am enthusiastic about technology, and enjoy solving problems and challenges. I have worked in varied areas, including Digital designing, Analog Designing, and CAD tool development for semiconductors. 
    </p>

    <p>
      I'm currently an Intern at
      <a class="underline-link" href="https://www.qualcomm.com/" target="_blank">Qualcomm</a> in an <strong>SoC Integration</strong> team, currently working on connectivity of standard protocols like AHB, APB, AXI interfaces at the SoC level. And also, I have been working on the connectivity of some major components in SoC like CPU, etc. Experienced real-time examples on Power Consumption, and UPF at the SoC level. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably cycling, bingeing movies and TV shows,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
