<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Data Engineer at
      <a class="underline-link" href="https://www.neenopal.com/" target="_blank">NeenOpal Inc.</a> building cloud-based ETL and data warehousing 
      solutions for global clients across diverse sectors.
      I completed my bachelors in <strong>Computer Science</strong> from
      <a class="underline-link" href="http://cse.iiitdmj.ac.in/" target="_blank">IIIT Jabalpur</a>. 
      I document my learnings in software and data engineering on my <span class="intro__contact"><a class="highlight-link" href="https://jithendray.github.io/blog/" target="_blank">blog</a></span>.
    </p>

    <p>
      As a data engineer, I enjoy bridging the gap between software engineering and data analytics &mdash; combining my technical skills
      with my sharp problem-solving ability to build scalable data solutions. 
      I have worked with clients in a variety of sectors, including logistics, ed-tech, and
      NBFC, and I have provided solutions that are specifically suited to their needs.</p>

    <p>
      <strong>When I'm not working</strong>, I spend a lot of my free time listening to metal music.
      As a side hobbie &mdash; I write 
      reviews of metal albums on my blog <span class="intro__contact"><a class="highlight-link" href="https://cursedcollection.github.io/" target="_blank">Cursed Collection</a></span>.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
