<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      As a Data Engineer, I thrive in bridging the gap between software engineering and data analytics.
      My expertise centers around a robust toolkit, including Python, SQL, AWS, and PySpark. 
      Furthermore, I hold certifications as an <strong>AWS Solutions Architect Associate</strong> and <strong>Azure Data Engineer Associate</strong>.
      I hold a bachelor's degree in Computer Science from Indian Institutes of Information Technology, Jabalpur.
    </p>

    <p>
      I am currently working as a Data Engineer at <a class="underline-link" href="https://www.neenopal.com/" target="_blank">NeenOpal Inc.</a>, 
      where I specialize in architecting and implementing cutting-edge cloud-based ETL solutions and data warehousing systems for a diverse global clientele.
      Notably, I have collaborated with clients across a spectrum of sectors, including logistics, real-estate, ed-tech, and NBFC, delivering tailored solutions that precisely meet their unique needs.
    </p>

    <p>
      When I'm not working, you can find me indulging in my passion for metal music during my free time. 
      My musical tastes gravitate toward doom and death metal genres. 
      As a side interest, I contribute reviews of metal albums on my blog, <a class="underline-link" href="https://cursedcollection.github.io/" target="_blank">>Cursed Collection</a>. 
      I meticulously track my listening history on Spotify and Bandcamp through <a class="underline-link" href="https://www.last.fm/user/Jithendray" target="_blank">Lastfm</a>, 
      and I further use <a class="underline-link" href="https://stats.fm/doomedripper" target="_blank">stats.fm</a> to monitor my Spotify listening history.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
