<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span class="underline-link" style="font-size: 0.8em;">Theme forked from</span>
    </div>
    <div class="bottom">
      <a href="https://github.com/bchiang7/bchiang7.github.io" target="_blank"><span class="underline-link" style="font-size: 0.8em;">Brittany Chiang</span></a>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
